.App {
  height: 100vmin;
  background: linear-gradient(to right, skyblue, lightgreen);
}

.btn {
  background-color: rgb(1, 1, 56);
  font-size: large;
  color: cyan;
  border: none;
  width: 50px;
  height: 50px;
  padding: 0;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

.btn:hover {
  background-color: rgba(1, 1, 56, 0.7);
}

.output {
  background-color: rgb(16, 100, 151);
  box-sizing: border-box;
  text-align: end;
  padding: 10px 15px;
  width: 200px;
  height: 30px;
  border: none;
  color: white;
  font-size: large;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 150px;
}

.rounded-right {
  border-bottom-right-radius: 15px;
}

.rounded-left {
  border-bottom-left-radius: 15px;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.history-container {
  background-color: rgb(16, 100, 151);
  box-sizing: border-box;
  text-align: end;
  padding: 10px 15px;
  width: 200px;
  height: 100px;
  border: none;
  color: white;
  font-size: x-small;
}